.popup {

    position: fixed; /*для подложки прячу попап на видимой части сверху/
    */
     top: 0; /*прижат к топу было135*/
     bottom:0;
     left: 0;
     right:0;
     background-color: rgba(0, 0, 0, .3);
     padding: 195px 425px 0 0;
     z-index: 20;
     transition: 0.5s;
      display:flex;
      align-item: flex-start;
     justify-content: center;}
     /*display: none;*/

    /* display: none; /* надо так изначально но пока кнопка не работает display: none;
    display:flex;
      align-item: flex-start;
     justify-content: center;*/
     /*width: 100%;
    height: 100%;
     display: flex;
      align-item: flex-start;
     justify-content: center;
    */
    /*  visibility: hidden;  подложку разремим*/
.popup_visible {
  position: fixed;
     top: 0; /*прижат к топу было135*/
     bottom:0;
     left: 0;
     right:0;
     background-color: rgba(0, 0, 0, .3);
     display: flex;
}


/*.popup_visible
{
    position: fixed; !*!*для подложки прячм попап*!*!
    top: 135px; !*!*прижат к топу -херня изменить*!*!
    !*!* bottom:0; *!*!
    left: 0;
   !* !*  right:0; *!*!
    width: 100%;
    height: 100%;
    display: flex; !*!* надо так изначально но пока кнопка не работает display: none;*!*!
    align-item: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, .15);
    z-index: 20;
   !* !*  visibility: hidden;  подложку разремим*!*!
    transition: 0.5s;
}
*/

/*
@media screen and (max-width: 320px) {
    .popup {
        top: 123px;
    }
}*/
/*
.popup:hover {
    position: fixed; !*для подложки прячм попап*!
    top: 135px; !*прижат к топу -херня изменить*!
    !* bottom:0; *!
    left: 0;
    !*  right:0; *!
    width: 100%;
    height: 100%;
    display: flex;
    align-item: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, .15);
    z-index: 20;
    !*  visibility: hidden;  подложку разремим*!
    transition: 0.5s;
}  */
