.profile__edit-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/Edit_Button.svg);
    border: 1px solid white;
}

.profile__edit-button:hover {
    opacity: 0.3;
    cursor: pointer;
}