.popup__container {
    max-width: 430px;
    max-height: 330px;
    color: black;
    background: white;
    border-radius: 10px;
    padding-top: 34px;
   /* padding: 34px 36px 36px;*/
   /* padding: 195px 425px 195px 425px;*/
    position: relative;
    box-sizing: border-box;
    padding-left:4%;
    padding-right: 4%;
    margin: 0 auto;
}
@media screen and(max-width: 320px){
  .popup__container{
      max-width:282px;
      max-height: 322px;
      padding-left:22px;
      padding-right: 22px;
     /* margin-right: 19px;
      margin-left: 19px;*/
  margin: 0 auto;
  }
}