.profile {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-top: 38px;
    margin: 0 auto;
    max-width: 69%;
}

@media screen and (min-width: 321px)and (max-width: 767px) {
    .profile {
        margin: 0 auto; /*по центру*/
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: 100%;
        max-height: 89%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}