.elements__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
    justify-items: center;
    position: relative;
    background-size: cover;
    max-width: 280px;
}
