.profile__avatar_image {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 120px;
    min-width: 120px;
    height: 120px;
    background-image: url(/images/Image.svg);
}

@media screen and (max-width: 320px) {
    .profile__avatar_image {

    }

}