.popup__save {
    color: white;
    width: 84%;
    max-width: 358px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #000000;
    border-radius: 2px;
   /* background-image: url('../../../images/Submit_Button.svg');*/
    cursor: pointer;
}
.popup__save:hover {
    opacity: 0.3;
    cursor: pointer;
    text-decoration: none;/*прозрачность hover, но чтобы она не влияла на border и надпись
*/
}