.header__logo {
    position: inherit;
    max-width: 142px;
    /* max-height: 33px;*/
    border-radius: 0;
    align-self: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;

}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 104px;
        /* max-height: 24px;*/
        padding-left: 27px;
        padding-top: 0;
        /*object-position: top;*/
        margin: 0;
    }
}