.profile__add-button {
    flex-direction: column;
    padding: 0;
    background-image: url('../../../images/Add_Button.svg');
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    background-color: black;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    object-position: right;
    object-fit: contain; /*заполняет обьем*/
}

.profile__add-button:hover {
    color: black;
    opacity: 0.3;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        padding-top: 0;
        padding-bottom: 36px;
        display: inline-block;
    }
}
