.popup__close {
    border: none;
    background-color: black;
    background-repeat: no-repeat;
    position: absolute;
    top: -35px;
    right: -35px;
    width: 35px;
    height: 35px;
    padding: 0;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.3;
}