.popup__close {
    position: absolute;
    width: 56px;
    height: 56px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 50;
    background-repeat: no-repeat;
    background-image: url('../../../images/Close_Icon.svg');
    top: -40px;
    right: -40px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.8;
}