.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

@media screen and (max-width: 320px) {
    .profile__avatar {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}