@import url(../vendor/normalize.css);
@import url(../vendor/inter.css);

@import url(../blocks/root/root.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__heart/elements__heart.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__word/elements__word.css);
@import url(../blocks/elements/__heart/elements__heart-active.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__combine/elements__combine.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__place/footer__place.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/prifile__avatar.css);
@import url(../blocks/profile/__button-container/profile__button-container.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__person_info/profile__person_info.css);
@import url(../blocks/profile/__person_info/profile__person_info-box.css);

@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__head/popup__page.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__save/_visible/popup_visible.css);
@import url(../blocks/popup/__page/popup__page.css);
@import url(../blocks/popup/__form/popup__form.css);







