.elements__heart{
    background-image: url('../../../images/Vector_heart.svg');
    position: absolute;
    width: 24px;
    height: 19px;
    cursor: pointer;
    padding: 0;
    margin: 21px -30px  17px;
    border: none;
    background-repeat: no-repeat;
     background-color: transparent;
}

.elements__heart:hover {
    color: black;
    opacity: 0.3;
    cursor: pointer;
}





